:root {
  --primary-color: #212121;
  --secondary-text-color: #757575;
  --main-hover-color: #2196f3;
  --accent-color: #ffffff;
}
body {
  font-family: 'Raleway', 'Roboto';
  font-style: normal;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
li {
  list-style: none;
}
/*--------------------- header-------------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-hover-color);
}
.color-tagb {
  color: var(--primary-color);
}
.list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--main-hover-color);
}
.list-item.current {
  color: var(--main-hover-color);
}
.head-mail,
.head-phone {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.head-mail:hover,
.head-mail:focus {
  color: var(--main-hover-color);
}
.head-phone:hover,
.head-phone:focus {
  color: var(--main-hover-color);
}

/*--------------------- hero-------------- */

.hero {
  background-color: #2f303a;
  color: var(--accent-color);
  text-align: center;
}
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.hero-btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--main-hover-color);
  color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus::after {
  background-color: var(--main-hover-color);
}
/*--------------------- features-------------- */

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
}
.features-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*--------------------- what we do-------------- */
.work-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/*--------------------- our team-------------- */

.team-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.profession {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*--------------------- footer-------------- */
.footer {
  background-color: #2f303a;
}
.color-tagw {
  color: var(--accent-color);
}
.map {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.foot-mail,
.foot-phone {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* -----------------------------PORTFOLIO---------------------- */

/* -----------------------------services---------------------- */

.services {
  background-color: #2f303a;
}
.serv-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-colo);
}
.serv-btn:hover,
.serv-btn:focus {
  background-color: var(--main-hover-color);
  color: var(--accent-color);
}

/* ---------------------pages------------------ */
.page-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.options {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
